@import './global.scss';
@import './nav.scss';
@import './roots.scss';

main {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
  gap: 10px;

  max-width: 320px;
  margin: 0 auto;

  @media screen and (min-width: 540px) {
    max-width: 420px;
  }
  
  /* SECTION GPS */
  .gps__container {
    background: $black-Gray;
    border-radius: 15px;

    .gps-direction-assistant {
      display: flex;
      justify-content: center;
      gap: 19px;
      padding: 8px 23px;
      background: $black-Gray2;
      border-radius: 15px 15px 0 0;

      .direction-info {
        display: inline-block;
        text-align: center;

        p:first-child {
          font-size: 23px;
          font-weight: 500;
        }

        p:last-child{
          font-size: 12px;
          font-weight: 400;
          opacity: 50%;
        }
      }
    }

    .gps-map {
      text-align: center;

      img {
        max-width: 100%;

        @media screen and (min-width: 540px) {
          width: 400px;
          height: 350px;
        }

        
      }
    }

    .gps-local-info {
      display: flex;
      align-items: center;
      justify-content: space-around;
      background: $black-Gray2;
      padding: 12px;
      gap: 10px;

      border-radius: 0px 0px 15px 15px;


      .local-info {


        p:first-child {
          font-size: 14px;
          font-weight: 600;
        }

        p:nth-child(2){
          font-size: 12px;
          opacity: 50%;
        }
      }

      .km-info {
        display: flex;
        align-items: center;
        gap: 8px;
        padding-top: 10px;

        p:nth-child(1), p:nth-child(3){
          font-size: 12px;
          opacity: 50%;
        }
      }

      .local-search {
        background: $black-Gray3;
        padding: 14px 18px;
        border-radius: 40px;
      }
    }
  }
}







