/* IMPORTS */
@import './global.scss';
@import './nav.scss';
@import './roots.scss';
/* END IMPORTS */

/* MAIN */
main {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 1fr 0.2fr 0.2fr 0.4fr 0.2fr 0.2fr;

  max-width: 320px ;
  margin: 0 auto;

  @media screen and (min-width: 540px) {
    max-width: 540px;
    grid-template-rows: 1fr 0.2fr 0.2fr 0.4fr 0.2fr 0.2fr;
  }

  section {
    background: $black-Gray;
    border-radius: 15px;
    margin-bottom: 20px;
  }

  //SECTION CAR__CONTAINER
  section:nth-child(7),
  section:nth-child(8) {
    background: transparent;
  }
  //END SECTION CAR__CONTAINER

  
  /* SECTION GPS */
  .gps__container {

    /* GPS DIRECTION ASSISTANT */
    .gps-direction-assistant {
      display: flex;
      justify-content: center;
      gap: 19px;
      padding: 8px 23px;
      background: $black-Gray2;
      border-radius: 15px 15px 0 0;

      .direction-info {
        display: inline-block;
        text-align: center;

        p:first-child {
          font-size: 23px;
          font-weight: 500;
        }

        p:last-child{
          font-size: 12px;
          font-weight: 400;
          opacity: 50%;
        }
      }
    }
    /* END GPS DIRECTION ASSISTANT */

    /* GPS MAP */
    .gps-map {
      text-align: center;

      img {
        max-width: 100%;

        @media screen and (min-width: 540px) {
          width: 400px;
          height: 350px;
        }

        
      }
    }
    /* END GPS MAP */

    /* GPS LOCAL INFO */
    .gps-local-info {
      display: flex;
      align-items: center;
      justify-content: space-around;
      background: $black-Gray2;
      padding: 12px;
      gap: 10px;

      border-radius: 0px 0px 15px 15px;


      .local-info {


        p:first-child {
          font-size: 14px;
          font-weight: 600;
        }

        p:nth-child(2){
          font-size: 12px;
          opacity: 50%;
        }
      }

      .km-info {
        display: flex;
        align-items: center;
        gap: 8px;
        padding-top: 10px;

        p:nth-child(1), p:nth-child(3){
          font-size: 12px;
          opacity: 50%;
        }
      }

      .local-search {
        background: $black-Gray3;
        padding: 14px 18px;
        border-radius: 40px;
      }
    }
    /* END GPS LOCAL INFO */

  }
  /* END SECTION GPS */


  /* SECTION MUSICS */
  .musics__container {
    
    /* MUSIC */
    .music {
      display: flex;
      padding: 10px;
      gap: 10px;

      @media screen and (min-width: 540px) {
        justify-content: center;
        gap: 40px;
        padding: 10px 0px;

        img {
          width: 129px;
          height: 96px;
        }
      }

      .music-name{
        padding-top: 4px;
        font-size: 18px;
        font-weight: 600;

        @media screen and (min-width: 540px) {
          font-size: 22px;
        }
      }
      .music-author {
        font-size: 14px;
        opacity: 50%;
        font-weight: 300;

        @media screen and (min-width: 540px) {
          font-size: 18px;
        }
      }
      
    }
    /* END MUSIC */

    /* MUSIC-CONTROLLER */
    .music-controller {
      display: flex;
      justify-content: center;
      font-size: 20px;
      gap: 30px;
      padding-bottom: 10px;

      a {
        display: flex;
        align-items: center;
        transition: all 0.4s ease;

      &:hover {
        transform: scale(1.5);
      }
      }
      
    }
    /* END MUSIC-CONTROLLER */

  }
  /* END SECTION MUSICS */


  /* SECTION CLIMATE */
  .climate__container {
    padding: 15px;

    //Window Closed title
    h2 {
      margin: 15px 0;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 500;
    }

    @media screen and (min-width: 540px){
      padding: 15px 22px;
    }


    /* CLIMATE-BOX */
    .climate-box {
      display: flex;
      justify-content: space-between;
      align-items: center;

      /* CLIMATE */
      .climate {
        align-items: center;

        h1 {
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 8px;
        }
  
        p {
          font-size: 12px;
          opacity: 50%;
          text-transform: uppercase;
        }

        @media screen and (min-width: 540px){
          h1 {
            font-size: 30px;
            margin-bottom: 0px;
          }
          
          p {
            font-size: 16px;
          }
        }
      }
      /* END CLIMATE */

      /* CLIMATE-DEGREES */
      .climate-degrees {
        display: flex;
        align-items: center;
        gap: 12px;

        @media screen and (min-width: 540px){
          gap: 30px;          
        }
  
        h3 {
          font-size: 45px;
          font-weight: 600;
        }
      }
      /* END CLIMATE-DEGREES */

    }
    /* END CLIMATE-BOX */

    /* CLIMATE-PROGRESS */
    .climate-progress {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;

      @media screen and (min-width: 540px){
        margin-top: 20px;
      }

      /* CLIMATE DEGREES PROGRESS */
      .climate-degrees-progress {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;
        opacity: 50%;

        @media screen and (min-width: 540px){
          font-size: 14px;
        }
      }
      /* END CLIMATE DEGREES PROGRESS */

    }
    /* END CLIMATE-DEGREES */
  }
  /* END SECTION CLIMATE */


  /* SECTION CALENDER */
  .calender__container{
    padding: 18px;

    @media screen and (min-width: 540px){
      padding: 18px 22px;
    }

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h1 {
        font-size: 20px;
        font-weight: 500;
      }

      @media screen and (min-width: 540px){
        h1 {
          font-size: 28px;
        };
      }
    }

    div .calender-date{
      margin-top: 6px;
      opacity: 50%;
      font-size: 14px;

      @media screen and (min-width: 540px){
        font-size: 16px;
      }
    }

    .calender-urdeline {
      margin: 10px 0px 18px 0px;
      border-bottom: 2px solid $yellow-Green;
      opacity: 60%;
    }

    .calender-commitments {

      .commitment {
        display: flex;
        align-items: center;
        margin: 10px 0px;

        .hours {
          opacity: 50%;
          margin-right: 2rem;
        }

        .box-commitment {
          background: rgba($white, 0.15);
          padding: 10px 10px 20px 10px;
          border-radius: 10px;
          border-left: 10px solid $yellow-Green;

          @media screen and (min-width: 540px){
            width: 100%;
            padding-bottom: 24px;
          }

          .title-commitment {
            font-size: 18px;

            @media screen and (min-width: 540px){
              font-size: 20px;
            }
          }

          .hours-commitment {
            font-size: 14px;
            opacity: 50%;
          }
        }
      }


      .commitment-urdeline {
        margin-top: 2px;
        border-bottom: 4px dotted $black-Gray2;
      }
    }
  }
  /* END SECTION CALENDER */


  /* SECTION CONTROL-TOOLS */
  .control-tools__container {
    width: 100% ;
    padding: 12px 18px;
    max-width: 320px;

    @media screen and (min-width: 540px){
      max-width: 540px;
    }

    /* CONTROLS */
    .controls {
      display: flex;
      gap: 20px;
      overflow-x: auto;
      
      /* CONTROL */
      .control {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: $black-Gray3;
        padding: 8px 26px;
        border-radius: 20px;

        cursor: pointer;

        /* CONTROL-NAME */
        .control-name{
          margin-top: 8px;
          font-size: 12px;

          @media screen and (min-width: 540px){
            font-size: 16px;
          }
        }
        /* END CONTROL-NAME */


        /* CONTROL-SEAT */
        .control-seat {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
          margin-top: 4px;

          /* CONTROL SEAT DEGREES */
          .control-seat-degrees{
            font-size: 18px;

            @media screen and (min-width: 540px){
              font-size: 22px;
            }
          }
          /* END CONTROL SEAT DEGREES */

        }
        /* END CONTROL-SEAT */

        
      }
      /* END CONTROL */

    }
    /* END CONTROLS */

  }
  /* END SECTION CONTROL-TOOLS */


  /* SECTION EMERGENCY */
  .emergency__container {
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: 540px){
      padding: 1.5rem;

    }

    /* EMERGENCY */
    .emergency {
      display: flex;
      align-items: center;
      justify-content: space-between;

      gap: 1rem;

      @media screen and (min-width: 540px){
        gap: 1.5rem;
      }

      /* EMERGENCY TITLE */
      .emergency-title {
        h2 {
          font-size: 1.475rem;
        }

        p {
          font-size: 0.875rem;
          opacity: 50%;
        }

        /* @media emergency-title */
        @media screen and (min-width: 540px){
          h2 {
            font-size: 1.675rem;
          }
  
          p {
            font-size: 1rem;
            opacity: 50%;
          }
        }
        /* end @media emergency-title */

      }
      /* END EMERGENCY TITLE */

    }
    /* END EMERGENCY */

  }
  /* END SECTION EMERGENCY */

  /* SECTION CAR */
  .car__container {
    transition: all 1s ease;
    .car-container {
      height: 0;
      transition: all 1s cubic-bezier(0, 1.38, 1, 1.38);
      z-index: 111;
      overflow: hidden;
      
      /* ANALOG */
      .analog__container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
  
        /* ANALOG LEFT/RIGHT */
        .analog-left, .analog-right {
          &:hover {
            cursor: pointer;
          }
  
          @media screen and (min-width: 540px){
            img {
              width: 86px;
              height: 86px;
            }
          }
        }
        /* END ANALOG LEFT/RIGHT */
  
        /* CAR */
        .car{
          z-index: 10;
  
          @media screen and (min-width: 540px){
            img {
              width: 358px;
              height: 191px;
            }
          }
        }
        /* END CAR */
  
      }
      /* END ANALOG */
  
      /* PLATFORM CONTAINER */
      .platform__container {
        display: flex;
        position: relative;
        text-align: center;
  
        /* PLATFORM CAR */
        .platform-car {
          display: flex;
          justify-content: space-between;
          position: absolute;
          top: -6rem;
          left: 0.275rem;
  
          @media screen and (min-width: 540px){
            top: -8.5rem;
            left: 0.875rem;
  
            img {
              width: 500px;      
            }
          }
        }
        /* END PLATFORM CAR */
  
      }
      /* END PLATFORM CONTAINER */
  
      /* PLATFORM OPEN-BLOCK */
      .platform-open-block {
        display: flex;
        justify-content: space-between;
        text-align: center;
  
        padding: 0 3rem;
        position: relative;
        
        z-index: 11;
  
  
        /* PLATFORM OPEN & BLOCK */
        .platform-open, .platform-block {
          display: flex;
          position: absolute;
          top: -4rem;
  
          &:hover {
            cursor: pointer;
          }
        }
        /* END PLATFORM OPEN & BLOCK */
  
        /* PLATFORM BLOCK */
        .platform-block {
          left: 234px;
          
        }
        /* END PLATFORM BLOCK */
  
  
        /* @media PLATFORM Open & Block */
        @media screen and (min-width: 540px){
          padding: 0 5rem;
  
          /* PLATFORM OPEN & BLOCK */
          .platform-open, .platform-block {
            display: flex;
            position: absolute;
            top: -6rem;   
  
            img {
              width: 50px;
              height: 50px;
            }
      
            &:hover {
              cursor: pointer;
            }
          }
          /* END PLATFORM OPEN & BLOCK */
  
      
          /* PLATFORM BLOCK */
          .platform-block {
            left: 410px;
            
          }
          /* END PLATFORM BLOCK */
        }
        /* END @media PLATFORM Open & Block */
  
      }
      /* END PLATFORM OPEN-BLOCK */
    }

    /* SHOW-CAR */
    .show-car {
      height: 10rem;

      @media screen and (min-width: 540px){
        height: 15rem;
      }
    }
    /* END SHOW-CAR */

    /* CAR CONTROLS */
    .car__controls {
      display: flex;
      margin-top: 1rem;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      transition: all 0.4s ease;

      @media screen and (min-width: 540px){
        gap: 3rem;
      }

      /* CAR CONTROLS LI */
      li {
        text-align: center;
        transition: all 0.4s ease;

        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }

        p {
          font-size: 14px;
        }
        

        @media screen and (min-width: 540px){
          p {
            font-size: 1.2rem;
          }

          img {
            width: 50px;
          }
        }
      }
      /* END CAR CONTROLS LI */

      /* CONTROL BRIGHTNESS/STATISTICS */
      .control-brightness, .control-statistics {
        height: 0;
        overflow: hidden;
        transition: all 0.4s ease;
        z-index: 10;
      }
      /* END CONTROL BRIGHTNESS/STATISTICS */

      /* SHOW CONTROL */
      .show-control {
        height: auto;
      }
      /* SHOW CONTROL */

    }
    /* END CAR CONTROLS */

    /* CAR PANEL BOARD */
    .car-panel-board_container {
      height: 0;
      transition: all 1s cubic-bezier(0, -0.4, 1, -0.37);
      z-index: 111;
      overflow: hidden;

      display: flex;
      justify-content: center;
      text-align: center;
      position: relative;
      line-height: 1.1;

      margin-top: 1rem;

      /* @media PETRO/BATTERY/SPEEDOMETER */
      @media screen and (min-width: 540px){
        margin-top: 2rem;

        .petrol, .battery {
          img {
            width: 127px;
          }
        }

        .speedometer {
          img {
            width: 280px;
          }
        }

      }
      /* END @media PETRO/BATTERY/SPEEDOMETER */


      /* BOARD PETROL & BOARD BATTERY */
      .board-petrol, .board-battery {
        font-size: 14px;
        position: absolute;
        top: 40px;
        
        p:first-child {
          margin-top: 4px;
          
          @media screen and (min-width: 540px){
            padding-top: 18px;
          }
        }
      }
      /* END BOARD PETROL & BOARD BATTERY */


      /* BOARD PETROL */
      .board-petrol {
        left: 24px;

        @media screen and (min-width: 540px){
          left: 44px;
        }
      }
      /* END BOARD PETROL */

      /* BOARD BATTERY */
      .board-battery {
        right: 16px;

        @media screen and (min-width: 540px){
          right: 40px;
        }
      }
      /* END BOARD BATTERY */

      /* SPEEDOMETER */
      .speedometer {
        padding-top: 15px;
      }
      /* END SPEEDOMETER */
  
    }
    
    /* SHOW CAR PANEL BOARD */
    .show-car-panel-board {
      height: 10rem;

      @media screen and (min-width: 540px){
        height: 15rem;
      }
    }
    /* END SHOW CAR PANEL BOARD */

    /* END CAR PANEL BOARD */

  }
  /* END SECTION CAR */
}
/* END MAIN */