@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background: #111111;
}

a, a:link, a:visited {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background: #111111;
}

a, a:link, a:visited {
  text-decoration: none;
}

.nav__container {
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.nav__container .nav__header .nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav__container .nav__header .nav-header div {
  display: flex;
  align-items: center;
}
.nav__container .nav__header .nav-header h1 {
  font-size: 2em;
  margin-left: 16px;
}
.nav__container .nav__header .nav-header input {
  display: none;
}
.nav__container .nav__header .nav-header .logo-dash-search i {
  display: none;
  margin-left: 16px;
}
.nav__container .nav__header .nav-header .nav-toggle {
  font-size: 2rem;
  color: #cff80b;
  background: transparent;
  border-color: transparent;
  transition: all 0.6s ease;
  cursor: pointer;
}
.nav__container .nav__header .nav-header .nav-toggle:hover {
  transform: scale(1.1);
}
@media screen and (min-width: 425px) {
  .nav__container .nav__header .nav-header h1 {
    font-size: 2em;
  }
}
@media screen and (min-width: 768px) {
  .nav__container .nav__header .nav-header .nav-toggle {
    display: none;
  }
  .nav__container .nav__header .nav-header input {
    display: flex;
    color: #ffffff;
    font-weight: bold;
    background: #1e1e1e;
    border: none;
    border-radius: 30px;
    padding: 12px 24px 12px 40px;
  }
  .nav__container .nav__header .nav-header .logo-dash-search i {
    display: flex;
    position: relative;
    margin-right: 4px;
    left: 7.5%;
  }
}
@media screen and (min-width: 1180px) {
  .nav__container .nav__header .nav-header {
    padding-left: 3rem;
    padding-top: 2rem;
  }
  .nav__container .nav__header .nav-header div .logo {
    height: 55px;
    width: 55px;
  }
  .nav__container .nav__header .nav-header h1 {
    font-size: 2.5rem;
  }
  .nav__container .nav__header .nav-header input {
    font-size: 1.4rem;
    padding-left: 60px;
  }
  .nav__container .nav__header .nav-header .logo-dash-search i {
    font-size: 20px;
    left: 7%;
  }
}
.nav__container .nav__user {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__container .nav__user {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 17px;
  }
}
@media screen and (min-width: 1180px) {
  .nav__container .nav__user {
    gap: 26px;
  }
}
.nav__container .nav__user .nav-time {
  display: flex;
  align-items: center;
  gap: 17px;
}
.nav__container .nav__user .nav-time img:hover {
  transition: all 0.6s ease;
  transform: scale(1.2);
  cursor: pointer;
}
.nav__container .nav__user .nav-time .nav-degrees-climate {
  text-align: center;
}
.nav__container .nav__user .nav-time .nav-degrees-climate .degrees-celsius {
  font-size: 26px;
  font-weight: bold;
}
.nav__container .nav__user .nav-time .nav-degrees-climate .climate {
  opacity: 0.5;
  font-weight: 500;
}
@media screen and (max-width: 1024px) {
  .nav__container .nav__user .nav-time .nav-degrees-climate .degrees-celsius {
    font-size: 16.5px;
  }
}
@media screen and (min-width: 1180px) {
  .nav__container .nav__user .nav-time {
    gap: 26px;
  }
}
.nav__container .nav__user .nav-user-info {
  display: flex;
  align-items: center;
  gap: 17px;
}
.nav__container .nav__user .nav-user-info img:hover {
  transition: all 0.6s ease;
  transform: scale(1.2);
  cursor: pointer;
}
.nav__container .nav__user .nav-user-info .nav-user-photo img {
  border: 3px solid #1e1e1e;
  border-radius: 40px;
  font-weight: bold;
  padding: 2px;
}
.nav__container .nav__user .nav-user-info .nav-user-photo img:hover {
  border: 3.5px solid #252525;
  cursor: pointer;
}
@media screen and (min-width: 1180px) {
  .nav__container .nav__user .nav-user-info {
    gap: 26px;
    margin-right: 2rem;
  }
}
.nav__container .links {
  height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
  background: #141414;
  z-index: 10;
}
@media screen and (min-width: 765px) {
  .nav__container .links {
    display: none;
  }
}
.nav__container .links li {
  display: flex;
  padding-left: 10px;
  transition: all 0.3s linear;
}
.nav__container .links li a {
  color: #ffffff;
  font-size: 1.2rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.8rem 0.8rem;
}
@media screen and (min-width: 425px) {
  .nav__container .links li {
    padding-left: 2rem;
  }
  .nav__container .links li a {
    padding-left: 1.2rem;
  }
}
.nav__container .show-links {
  height: 17rem;
}

main {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  max-width: 320px;
  margin: 0 auto;
  /* SECTION GPS */
  /* SECTION MUSICS */
  /* SECTION CLIMATE */
}
@media screen and (min-width: 540px) {
  main {
    max-width: 420px;
  }
}
main section {
  background: #1e1e1e;
  border-radius: 15px;
}
main .gps__container .gps-direction-assistant {
  display: flex;
  justify-content: center;
  gap: 19px;
  padding: 8px 23px;
  background: #252525;
  border-radius: 15px 15px 0 0;
}
main .gps__container .gps-direction-assistant .direction-info {
  display: inline-block;
  text-align: center;
}
main .gps__container .gps-direction-assistant .direction-info p:first-child {
  font-size: 23px;
  font-weight: 500;
}
main .gps__container .gps-direction-assistant .direction-info p:last-child {
  font-size: 12px;
  font-weight: 400;
  opacity: 50%;
}
main .gps__container .gps-map {
  text-align: center;
}
main .gps__container .gps-map img {
  max-width: 100%;
}
@media screen and (min-width: 540px) {
  main .gps__container .gps-map img {
    width: 400px;
    height: 350px;
  }
}
main .gps__container .gps-local-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #252525;
  padding: 12px;
  gap: 10px;
  border-radius: 0px 0px 15px 15px;
}
main .gps__container .gps-local-info .local-info p:first-child {
  font-size: 14px;
  font-weight: 600;
}
main .gps__container .gps-local-info .local-info p:nth-child(2) {
  font-size: 12px;
  opacity: 50%;
}
main .gps__container .gps-local-info .km-info {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 10px;
}
main .gps__container .gps-local-info .km-info p:nth-child(1), main .gps__container .gps-local-info .km-info p:nth-child(3) {
  font-size: 12px;
  opacity: 50%;
}
main .gps__container .gps-local-info .local-search {
  background: #2c2c2c;
  padding: 14px 18px;
  border-radius: 40px;
}
main .musics__container .music {
  display: flex;
  padding: 10px;
  gap: 10px;
}
@media screen and (min-width: 540px) {
  main .musics__container .music {
    justify-content: center;
    gap: 20px;
    padding: 10px 0px;
  }
  main .musics__container .music img {
    width: 129px;
    height: 96px;
  }
}
main .musics__container .music .music-name {
  padding-top: 4px;
  font-size: 18px;
  font-weight: 600;
}
@media screen and (min-width: 540px) {
  main .musics__container .music .music-name {
    font-size: 22px;
  }
}
main .musics__container .music .music-author {
  font-size: 14px;
  opacity: 50%;
  font-weight: 300;
}
@media screen and (min-width: 540px) {
  main .musics__container .music .music-author {
    font-size: 18px;
  }
}
main .musics__container .music-controller {
  display: flex;
  justify-content: center;
  font-size: 20px;
  gap: 30px;
  padding-bottom: 10px;
}
main .musics__container .music-controller a {
  display: flex;
  align-items: center;
  transition: all 0.4s ease;
}
main .musics__container .music-controller a:hover {
  transform: scale(1.5);
}
main .climate__container {
  padding: 15px;
}
main .climate__container h2 {
  margin: 15px 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
}
@media screen and (min-width: 540px) {
  main .climate__container {
    padding: 15px 22px;
  }
}
main .climate__container .climate-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .climate__container .climate-box .climate {
  align-items: center;
}
main .climate__container .climate-box .climate h1 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}
main .climate__container .climate-box .climate p {
  font-size: 12px;
  opacity: 50%;
  text-transform: uppercase;
}
@media screen and (min-width: 540px) {
  main .climate__container .climate-box .climate h1 {
    font-size: 30px;
    margin-bottom: 0px;
  }
  main .climate__container .climate-box .climate p {
    font-size: 16px;
  }
}
main .climate__container .climate-box .climate-degrees {
  display: flex;
  align-items: center;
  gap: 12px;
}
@media screen and (min-width: 540px) {
  main .climate__container .climate-box .climate-degrees {
    gap: 30px;
  }
}
main .climate__container .climate-box .climate-degrees h3 {
  font-size: 45px;
  font-weight: 600;
}
main .climate__container .climate-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
@media screen and (min-width: 540px) {
  main .climate__container .climate-progress {
    margin-top: 20px;
  }
}
main .climate__container .climate-progress .climate-degrees-progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  opacity: 50%;
}
@media screen and (min-width: 540px) {
  main .climate__container .climate-progress .climate-degrees-progress {
    font-size: 14px;
  }
}/*# sourceMappingURL=main.css.map */