/* IMPORTS */ /* IMPORTS */
/* COLORS */
/* END COLORS */
/* UTILS */
/* END UTILS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/* END IMPORTS */
/* ALL */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

/* END ALL */
/* BODY */
body {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background: #111111;
}

/* END BODY */
/* LINKS */
a, a:link, a:visited {
  text-decoration: none;
}

/* END LINKS */
/* IMPORTS */ /* IMPORTS */
/* COLORS */
/* END COLORS */
/* UTILS */
/* END UTILS */
/* END IMPORTS */
/* ALL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

/* END ALL */
/* BODY */
body {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background: #111111;
}

/* END BODY */
/* LINKS */
a, a:link, a:visited {
  text-decoration: none;
}

/* END LINKS */
/* COLORS */
/* END COLORS */
/* UTILS */
/* END UTILS */
/* END IMPORTS */
/* NAV CONTAINER */
.nav__container {
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  /* NAV HEADER */
  /* END NAV HEADER */
  /* NAV USER */
  /* END NAV USER */
  /* NAV LINKS */
  /* END NAV LINKS */
  /* NAV SHOW LINKS */
  /* END NAV SHOW LINKS */
}
@media screen and (min-width: 768px) {
  .nav__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 1024px) {
  .nav__container {
    flex-direction: row;
  }
}
@media screen and (min-width: 1368px) {
  .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.nav__container .nav__header {
  /* CONTENT HEADER */
  /* END CONTENT HEADER */
}
.nav__container .nav__header .nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  /* LOGO-TITLE-SEARCH */
  /* END LOGO-TITLE-SEARCH */
  /* NAV TOGGLE */
  /* END NAV TOGGLE */
  /* @MEDIA NAV-TOGGLE/LOGO-TITLE-SEARCH */
  /* END @MEDIA NAV-TOGGLE/LOGO-TITLE-SEARCH */
  /* DIV/H1/INPUT/LOGO-TITLE-SEARCH */
  /* END DIV/H1/INPUT/LOGO-TITLE-SEARCH */
  /* @media INPUT SEARCH */
  /* END @media INPUT SEARCH */
}
.nav__container .nav__header .nav-header div {
  display: flex;
  align-items: center;
}
.nav__container .nav__header .nav-header h1 {
  font-size: 2em;
  margin-left: 16px;
}
.nav__container .nav__header .nav-header input {
  display: none;
}
@media screen and (min-width: 425px) {
  .nav__container .nav__header .nav-header h1 {
    font-size: 2em;
  }
}
.nav__container .nav__header .nav-header .logo-title-search i {
  display: none;
  margin-left: 16px;
}
.nav__container .nav__header .nav-header .nav-toggle {
  font-size: 2rem;
  color: #cff80b;
  background: transparent;
  border-color: transparent;
  transition: all 0.6s ease;
  cursor: pointer;
}
.nav__container .nav__header .nav-header .nav-toggle:hover {
  transform: scale(1.1);
}
@media screen and (min-width: 768px) {
  .nav__container .nav__header .nav-header {
    /* nav-toggle */
    /* end nav-toggle */
    /* input */
    /* end input */
    /* logo-title-search */
    /* end logo-title-search */
  }
  .nav__container .nav__header .nav-header .nav-toggle {
    display: none;
  }
  .nav__container .nav__header .nav-header input {
    display: flex;
    color: #ffffff;
    font-weight: bold;
    background: #1e1e1e;
    border: none;
    border-radius: 30px;
    font-size: 1.4rem;
    padding: 12px 24px 12px 56px;
  }
  .nav__container .nav__header .nav-header .logo-title-search i {
    display: flex;
    position: relative;
    margin-right: 4px;
    left: 7.5%;
  }
}
@media screen and (min-width: 1100px) {
  .nav__container .nav__header .nav-header {
    padding-left: 3rem;
  }
  .nav__container .nav__header .nav-header div .logo {
    height: 55px;
    width: 55px;
  }
  .nav__container .nav__header .nav-header h1 {
    font-size: 2.5rem;
  }
  .nav__container .nav__header .nav-header input {
    padding-left: 60px;
  }
  .nav__container .nav__header .nav-header .logo-title-search i {
    font-size: 20px;
    left: 7%;
  }
}
@media screen and (min-width: 1368px) {
  .nav__container .nav__header .nav-header input {
    padding: 12px 5rem 12px 70px;
  }
}
.nav__container .nav__user {
  display: none;
  /* TIME */
  /* END TIME */
  /* USER INFO */
  /* END USER INFO */
}
@media screen and (max-width: 767px) {
  .nav__container .nav__user {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 17px;
  }
}
@media screen and (min-width: 768px) {
  .nav__container .nav__user {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 17px;
  }
}
@media screen and (min-width: 1024px) {
  .nav__container .nav__user {
    gap: 26px;
    margin-bottom: 0;
  }
}
.nav__container .nav__user .nav-time {
  display: flex;
  align-items: center;
  gap: 17px;
  /* DEGRESS/CLIMATE */
  /* END DEGRESS/CLIMATE */
}
.nav__container .nav__user .nav-time img:hover {
  transition: all 0.6s ease;
  transform: scale(1.2);
  cursor: pointer;
}
.nav__container .nav__user .nav-time .nav-degrees-climate {
  text-align: center;
  /* DEGREES */
  /* END DEGREES */
  /* CLIMADE */
  /* END CLIMADE */
}
.nav__container .nav__user .nav-time .nav-degrees-climate .degrees-celsius {
  font-size: 26px;
  font-weight: bold;
  font-size: 24px;
}
.nav__container .nav__user .nav-time .nav-degrees-climate .climate {
  opacity: 0.5;
  font-weight: 500;
}
@media screen and (max-width: 1024px) {
  .nav__container .nav__user .nav-time {
    /* DEGRESS CLIMATE/ CELSIUS */
    /* END DEGRESS CLIMATE/ CELSIUS */
  }
}
@media screen and (min-width: 1024px) {
  .nav__container .nav__user .nav-time {
    gap: 26px;
  }
}
.nav__container .nav__user .nav-user-info {
  display: flex;
  align-items: center;
  gap: 17px;
  /* USER PHOTO */
  /* END USER PHOTO */
}
.nav__container .nav__user .nav-user-info img:hover {
  transition: all 0.6s ease;
  transform: scale(1.2);
  cursor: pointer;
}
.nav__container .nav__user .nav-user-info .nav-user-photo img {
  border: 3px solid #1e1e1e;
  border-radius: 40px;
  font-weight: bold;
  padding: 2px;
}
.nav__container .nav__user .nav-user-info .nav-user-photo img:hover {
  border: 3.5px solid #252525;
  cursor: pointer;
}
@media screen and (min-width: 1180px) {
  .nav__container .nav__user .nav-user-info {
    gap: 26px;
    margin-right: 2rem;
  }
}
.nav__container .links {
  height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
  background: #141414;
  z-index: 10;
  /* LI */
  /* END LI */
}
.nav__container .links li {
  display: flex;
  padding-left: 10px;
  transition: all 0.3s linear;
  /* link */
  /* end link */
}
.nav__container .links li a {
  color: #ffffff;
  font-size: 1.2rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.8rem 0.8rem;
}
@media screen and (min-width: 765px) {
  .nav__container .links {
    display: none;
  }
}
@media screen and (min-width: 425px) {
  .nav__container .links li {
    padding-left: 2rem;
  }
  .nav__container .links li a {
    padding-left: 1.2rem;
  }
}
.nav__container .show-links {
  height: 17rem;
  margin-bottom: 1rem;
}

/* END NAV CONTAINER */
/* COLORS */
/* END COLORS */
/* UTILS */
/* END UTILS */
/* END IMPORTS */
/* MAIN */
main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.2fr 0.2fr 0.4fr 0.2fr 0.2fr 0.5fr;
  max-width: 320px;
  margin: 0 auto;
  position: relative;
  /* SECTION GPS */
  /* END SECTION GPS */
  /* SECTION MUSICS */
  /* END SECTION MUSICS */
  /* SECTION CLIMATE */
  /* END SECTION CLIMATE */
  /* SECTION CALENDER */
  /* END SECTION CALENDER */
  /* SECTION CONTROL-TOOLS */
  /* END SECTION CONTROL-TOOLS */
  /* SECTION EMERGENCY */
  /* END SECTION EMERGENCY */
  /* SECTION CAR */
  /* END SECTION CAR */
}
main .links-main {
  display: none;
}
@media screen and (min-width: 540px) {
  main {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  main {
    height: 100vh;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    grid-template-columns: 80px 100px 100px 100px 342px;
    grid-template-rows: repeat(24, 70px);
    gap: 11px;
    max-width: 768px;
  }
  main .links-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-column: 1;
    grid-row: 1/9;
    position: fixed;
    gap: 50px;
  }
  main .links-main li {
    display: flex;
    background: #252525;
    padding: 20px;
    border-radius: 100%;
  }
  main .gps__container {
    grid-column: 2/5;
    grid-row: 1/8;
  }
  main .climate__container {
    grid-column: 5/6;
    grid-row: 1/5;
  }
  main .climate__container .climate-box {
    display: block !important;
  }
  main .climate__container .climate-box .climate-degrees {
    justify-content: space-between;
  }
  main .climate__container .climate-progress {
    margin-top: 34px !important;
  }
  main .calender__container {
    grid-column: 5/6;
    grid-row: 5/8;
  }
  main .calender__container .calender-commitments .commitment-grid,
main .calender__container .calender-commitments .urderline-grid {
    display: none !important;
  }
  main .musics__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-column: 2/6;
    grid-row: 8/10;
  }
  main .musics__container .music {
    gap: 20px !important;
  }
  main .control-tools__container {
    grid-column: 2/6;
    grid-row: 10/12;
    max-width: 808px !important;
  }
  main .control-tools__container .controls {
    gap: 70px !important;
  }
  main .emergency__container {
    grid-column: 2/6;
    grid-row: 12/14;
    background: #1e1e1e !important;
    padding: 0 34px !important;
  }
  main .car__container {
    grid-column: 2/6;
    grid-row: 14/15;
  }
  main .car__container .analog__container .analog-left {
    padding-left: 40px;
  }
  main .car__container .analog__container .analog-right {
    padding-right: 40px;
  }
  main .car__container .platform__container .platform-car {
    left: 5.2rem !important;
  }
  main .car__container .platform-open-block .platform-open {
    left: 9rem !important;
  }
  main .car__container .platform-open-block .platform-block {
    left: 478px !important;
  }
  main section {
    margin-bottom: 0 !important;
  }
}
@media screen and (min-width: 1024px) {
  main {
    margin-top: 1rem;
    grid-template-columns: 80px 170px 100px 100px 342px;
    gap: 14px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}
@media screen and (min-width: 1368px) {
  main {
    grid-template-columns: 80px 130px 100px 100px 340px 540px;
    max-width: 1300px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    gap: 18px;
    grid-template-rows: repeat(26, 2.77rem);
  }
  main .emergency__container {
    grid-column: 6/7;
    grid-row: 1/3;
    background: #1e1e1e !important;
  }
  main .gps__container {
    grid-row: 1/9;
  }
  main .musics__container {
    grid-row: 10/12;
  }
  main .control-tools__container {
    grid-row: 12/14;
  }
  main .climate__container {
    grid-row: 1/6;
  }
  main .calender__container {
    grid-row: 6/10;
  }
  main .car__container {
    grid-column: 6/7;
    grid-row: 3;
  }
  main .car__container .analog__container .analog-left {
    padding-left: 8px;
  }
  main .car__container .platform__container .platform-car {
    left: 1.4rem !important;
  }
  main .car__container .platform-open-block .platform-open {
    left: 6rem !important;
  }
  main .car__container .platform-open-block .platform-block {
    left: 398px !important;
  }
}
main section {
  background: #1e1e1e;
  border-radius: 15px;
  margin-bottom: 20px;
}
main section:nth-child(8) {
  background: transparent;
}
main .gps__container {
  /* GPS DIRECTION ASSISTANT */
  /* END GPS DIRECTION ASSISTANT */
  /* GPS MAP */
  /* END GPS MAP */
  /* GPS LOCAL INFO */
  /* END GPS LOCAL INFO */
}
main .gps__container .gps-direction-assistant {
  display: flex;
  justify-content: center;
  gap: 19px;
  padding: 8px 23px;
  background: #252525;
  border-radius: 15px 15px 0 0;
}
main .gps__container .gps-direction-assistant .direction-info {
  display: inline-block;
  text-align: center;
}
main .gps__container .gps-direction-assistant .direction-info p:first-child {
  font-size: 23px;
  font-weight: 500;
}
main .gps__container .gps-direction-assistant .direction-info p:last-child {
  font-size: 12px;
  font-weight: 400;
  opacity: 50%;
}
@media screen and (min-width: 540px) {
  main .gps__container .gps-direction-assistant .direction-info p:first-child {
    font-size: 28px;
  }
  main .gps__container .gps-direction-assistant .direction-info p:last-child {
    font-size: 16px;
  }
}
main .gps__container .gps-map {
  text-align: center;
}
main .gps__container .gps-map img {
  max-width: 100%;
}
@media screen and (min-width: 540px) {
  main .gps__container .gps-map img {
    width: 400px;
    height: 350px;
  }
}
main .gps__container .gps-local-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #252525;
  padding: 12px;
  gap: 10px;
  border-radius: 0px 0px 15px 15px;
  /* LOCAL INFO */
  /* END LOCAL INFO */
  /* KM INFO */
  /* END KM INFO */
  /* LOCAL SEARCH */
  /* END LOCAL SEARCH */
}
main .gps__container .gps-local-info .local-info {
  /* @media lcaol-info */
  /* END @media lcaol-info */
}
main .gps__container .gps-local-info .local-info p:first-child {
  font-size: 14px;
  font-weight: 600;
}
main .gps__container .gps-local-info .local-info p:nth-child(2) {
  font-size: 12px;
  opacity: 50%;
}
@media screen and (min-width: 540px) {
  main .gps__container .gps-local-info .local-info p:first-child {
    font-size: 18px;
  }
  main .gps__container .gps-local-info .local-info p:nth-child(2) {
    font-size: 16px;
  }
}
main .gps__container .gps-local-info .km-info {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 10px;
  /* @media KM INFO */
  /* END @media KM INFO */
}
main .gps__container .gps-local-info .km-info p:nth-child(1),
main .gps__container .gps-local-info .km-info p:nth-child(3) {
  font-size: 12px;
  opacity: 50%;
}
@media screen and (min-width: 540px) {
  main .gps__container .gps-local-info .km-info p:nth-child(1),
main .gps__container .gps-local-info .km-info p:nth-child(3) {
    font-size: 16px;
  }
}
main .gps__container .gps-local-info .local-search {
  background: #2c2c2c;
  padding: 14px 18px;
  border-radius: 40px;
}
main .gps__container .gps-local-info .local-search:hover {
  cursor: pointer;
}
main .musics__container {
  /* MUSIC */
  /* END MUSIC */
  /* MUSIC-CONTROLLER */
  /* END MUSIC-CONTROLLER */
}
main .musics__container .music {
  display: flex;
  padding: 10px;
  gap: 10px;
  /* @media MUSIC */
  /* END @media MUSIC */
  /* MUSIC NAME */
  /* END MUSIC NAME */
  /* MUSIC AUTHOR */
  /* END MUSIC AUTHOR */
}
@media screen and (min-width: 540px) {
  main .musics__container .music {
    justify-content: center;
    gap: 40px;
    padding: 10px 0px;
  }
  main .musics__container .music img {
    width: 129px;
    height: 96px;
  }
}
main .musics__container .music .music-name {
  padding-top: 4px;
  font-size: 18px;
  font-weight: 600;
}
@media screen and (min-width: 540px) {
  main .musics__container .music .music-name {
    font-size: 22px;
  }
}
main .musics__container .music .music-author {
  font-size: 14px;
  opacity: 50%;
  font-weight: 300;
}
@media screen and (min-width: 540px) {
  main .musics__container .music .music-author {
    font-size: 18px;
  }
}
main .musics__container .music-controller {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main .musics__container .music-controller .music-controllers {
  display: flex;
  justify-content: center;
  font-size: 20px;
  gap: 30px;
}
@media screen and (min-width: 1368px) {
  main .musics__container .music-controller .music-controllers {
    padding-top: 10px;
  }
}
main .musics__container .music-controller .music-controllers a {
  display: flex;
  align-items: center;
  transition: all 0.4s ease;
}
main .musics__container .music-controller .music-controllers a:hover {
  transform: scale(1.5);
}
main .climate__container {
  padding: 15px;
  /* CLIMATE-BOX */
  /* END CLIMATE-BOX */
  /* CLIMATE-PROGRESS */
  /* END CLIMATE-DEGREES */
}
main .climate__container h2 {
  margin: 15px 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
}
@media screen and (min-width: 540px) {
  main .climate__container {
    padding: 15px 22px;
  }
}
main .climate__container .climate-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* CLIMATE */
  /* END CLIMATE */
  /* CLIMATE-DEGREES */
  /* END CLIMATE-DEGREES */
}
main .climate__container .climate-box .climate {
  align-items: center;
}
main .climate__container .climate-box .climate h1 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}
main .climate__container .climate-box .climate p {
  font-size: 12px;
  opacity: 50%;
  text-transform: uppercase;
}
@media screen and (min-width: 540px) {
  main .climate__container .climate-box .climate h1 {
    font-size: 30px;
    margin-bottom: 0px;
  }
  main .climate__container .climate-box .climate p {
    font-size: 16px;
  }
}
main .climate__container .climate-box .climate-degrees {
  display: flex;
  align-items: center;
  gap: 12px;
}
@media screen and (min-width: 540px) {
  main .climate__container .climate-box .climate-degrees {
    gap: 30px;
  }
}
main .climate__container .climate-box .climate-degrees h3 {
  font-size: 45px;
  font-weight: 600;
}
main .climate__container .climate-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  /* CLIMATE DEGREES PROGRESS */
  /* END CLIMATE DEGREES PROGRESS */
}
@media screen and (min-width: 540px) {
  main .climate__container .climate-progress {
    margin-top: 20px;
  }
}
main .climate__container .climate-progress .climate-degrees-progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  opacity: 50%;
}
@media screen and (min-width: 540px) {
  main .climate__container .climate-progress .climate-degrees-progress {
    font-size: 14px;
  }
}
main .calender__container {
  padding: 18px;
  /* HEADER */
  /* END HEADER */
  /* CALENDER DATE */
  /* END CALENDER DATE */
  /* CALENDER URLELINE */
  /* END CALENDER URLELINE */
  /* CALENDER COMMITMENTS */
}
@media screen and (min-width: 540px) {
  main .calender__container {
    padding: 18px 22px;
  }
}
main .calender__container header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .calender__container header h1 {
  font-size: 20px;
  font-weight: 500;
}
@media screen and (min-width: 540px) {
  main .calender__container header h1 {
    font-size: 28px;
  }
}
main .calender__container div .calender-date {
  margin-top: 6px;
  opacity: 50%;
  font-size: 14px;
}
@media screen and (min-width: 540px) {
  main .calender__container div .calender-date {
    font-size: 16px;
  }
}
main .calender__container .calender-urdeline {
  margin: 10px 0px 18px 0px;
  border-bottom: 2px solid #cff80b;
  opacity: 60%;
}
main .calender__container .calender-commitments {
  /* COMMITMENT */
  /* END COMMITMENT */
  /* COMMIMENT URDELINE */
  /* END COMMIMENT URDELINE */
}
main .calender__container .calender-commitments .commitment {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  /* HOURS */
  /* END HOURS */
  /* BOX COMMITMENT */
  /* END BOX COMMITMENT */
}
main .calender__container .calender-commitments .commitment .hours {
  opacity: 50%;
  margin-right: 2rem;
}
main .calender__container .calender-commitments .commitment .box-commitment {
  background: rgba(255, 255, 255, 0.15);
  padding: 10px 10px 20px 10px;
  border-radius: 10px;
  border-left: 10px solid #cff80b;
  /* @media @BOX COMMITMENT */
  /* END @media @BOX COMMITMENT */
  /* TITLE COMMITMENT */
  /* END TITLE COMMITMENT */
  /* HOUR COMMITMENT */
  /* END HOUR COMMITMENT */
}
@media screen and (min-width: 540px) {
  main .calender__container .calender-commitments .commitment .box-commitment {
    width: 100%;
    padding-bottom: 24px;
  }
}
main .calender__container .calender-commitments .commitment .box-commitment .title-commitment {
  font-size: 18px;
}
@media screen and (min-width: 540px) {
  main .calender__container .calender-commitments .commitment .box-commitment .title-commitment {
    font-size: 20px;
  }
}
main .calender__container .calender-commitments .commitment .box-commitment .hours-commitment {
  font-size: 14px;
  opacity: 50%;
}
main .calender__container .calender-commitments .commitment-urdeline {
  margin-top: 2px;
  border-bottom: 4px dotted #252525;
}
main .control-tools__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 15px 40px 15px 15px;
  width: 100%;
  max-width: 320px;
  /* @media CONTROL TOOLS CONTAINER */
  /* END @media CONTROL TOOLS CONTAINER */
  /* CONTROLS WRAPPER */
  /* END CONTROLS WRAPPER */
  /* CONTROLS */
  /* END CONTROLS */
  /* This is from w3schools */
  /* 
  https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
}
@media screen and (min-width: 540px) {
  main .control-tools__container {
    max-width: 540px;
    padding: 15px;
  }
}
main .control-tools__container .controls-wrapper {
  overflow: auto;
}
main .control-tools__container .controls {
  display: flex;
  flex-flow: row nowrap;
  gap: 26px;
  padding: 0 1.1rem;
}
@media screen and (min-width: 540px) {
  main .control-tools__container .controls {
    gap: 45px;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
}
main .control-tools__container .arrow-left,
main .control-tools__container .arrow-right {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
  font-size: 24px;
  line-height: 100%;
  width: 40px;
  text-align: center;
  color: #cff80b;
  cursor: pointer;
  border: none;
  background: linear-gradient(to left, transparent 0%, rgb(0, 0, 0) 200%);
  opacity: 0.7;
  transition: all 200ms ease-in-out;
  z-index: 10;
}
@media screen and (min-width: 540px) {
  main .control-tools__container .arrow-left,
main .control-tools__container .arrow-right {
    display: none;
  }
}
main .control-tools__container .arrow-left {
  border-radius: 14px 0 0 14px;
}
main .control-tools__container .arrow-right {
  left: auto;
  right: 0;
  border-radius: 0 14px 14px 0;
  background: linear-gradient(to right, transparent 0%, black 200%);
}
main .control-tools__container .arrow-left:hover,
main .control-tools__container .arrow-right:hover {
  opacity: 1;
  font-size: 30px;
}
main .control-tools__container .control-item {
  text-align: center;
}
main .control-tools__container .item {
  width: 50px;
  height: 50px;
  flex-shrink: 0; /*Evita com que o item diminua para caber*/
  opacity: 0.6;
  border: 2px solid #1e1e1e;
  transition: all 200ms ease-in-out;
}
@media screen and (min-width: 540px) {
  main .control-tools__container .item {
    opacity: 1;
  }
}
main .control-tools__container .current-item {
  opacity: 1;
  border: 2px solid #cff80b;
  border-radius: 5px 10px;
}
@media screen and (min-width: 540px) {
  main .control-tools__container .current-item {
    border: none;
  }
}
main .control-tools__container .controls-wrapper::-webkit-scrollbar {
  display: none;
}
main .control-tools__container .controls-wrapper {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
main .emergency__container {
  padding: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* @media EMERGENCY CONTAINER */
  /* END @media EMERGENCY CONTAINER */
  /* EMERGENCY */
  /* END EMERGENCY */
}
@media screen and (min-width: 540px) {
  main .emergency__container {
    padding: 1.5rem;
  }
}
main .emergency__container .emergency {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  /* @media EMERGENCY */
  /* END @media EMERGENCY */
  /* EMERGENCY TITLE */
  /* END EMERGENCY TITLE */
}
@media screen and (min-width: 540px) {
  main .emergency__container .emergency {
    gap: 1.5rem;
  }
}
main .emergency__container .emergency .emergency-title {
  /* @media emergency-title */
  /* end @media emergency-title */
}
main .emergency__container .emergency .emergency-title h2 {
  font-size: 1.475rem;
}
main .emergency__container .emergency .emergency-title p {
  font-size: 0.875rem;
  opacity: 50%;
}
@media screen and (min-width: 540px) {
  main .emergency__container .emergency .emergency-title h2 {
    font-size: 1.675rem;
  }
  main .emergency__container .emergency .emergency-title p {
    font-size: 1rem;
    opacity: 50%;
  }
}
main .car__container {
  transition: all 1s ease;
  /* SHOW-CAR */
  /* END SHOW-CAR */
  /* CAR CONTROLS */
  /* END CAR CONTROLS */
  /* CAR PANEL BOARD */
  /* SHOW CAR PANEL BOARD */
  /* END SHOW CAR PANEL BOARD */
  /* END CAR PANEL BOARD */
}
main .car__container .car-container {
  height: 0;
  transition: all 1s cubic-bezier(0, 1.38, 1, 1.38);
  z-index: 111;
  overflow: hidden;
  /* ANALOG */
  /* END ANALOG */
  /* PLATFORM CONTAINER */
  /* END PLATFORM CONTAINER */
  /* PLATFORM OPEN-BLOCK */
  /* END PLATFORM OPEN-BLOCK */
}
main .car__container .car-container .analog__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  /* ANALOG LEFT/RIGHT */
  /* END ANALOG LEFT/RIGHT */
  /* CAR */
  /* END CAR */
}
main .car__container .car-container .analog__container .analog-left, main .car__container .car-container .analog__container .analog-right {
  /* @media analog-left-right */
  /* END @media analog-left-right */
}
main .car__container .car-container .analog__container .analog-left:hover, main .car__container .car-container .analog__container .analog-right:hover {
  cursor: pointer;
}
@media screen and (min-width: 540px) {
  main .car__container .car-container .analog__container .analog-left img, main .car__container .car-container .analog__container .analog-right img {
    width: 86px;
    height: 86px;
  }
}
main .car__container .car-container .analog__container .car {
  z-index: 10;
  /* @media CAR */
  /* END @media CAR */
}
@media screen and (min-width: 540px) {
  main .car__container .car-container .analog__container .car img {
    width: 358px;
    height: 191px;
  }
}
main .car__container .car-container .platform__container {
  display: flex;
  position: relative;
  text-align: center;
  /* PLATFORM CAR */
  /* END PLATFORM CAR */
}
main .car__container .car-container .platform__container .platform-car {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -6rem;
  left: 0.275rem;
  /* @media PLATFORM CAR */
  /* END @media PLATFORM CAR */
}
@media screen and (min-width: 540px) {
  main .car__container .car-container .platform__container .platform-car {
    top: -8.5rem;
    left: 0.875rem;
  }
  main .car__container .car-container .platform__container .platform-car img {
    width: 500px;
  }
}
main .car__container .car-container .platform-open-block {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0 3rem;
  position: relative;
  z-index: 11;
  /* PLATFORM OPEN & BLOCK */
  /* END PLATFORM OPEN & BLOCK */
  /* PLATFORM BLOCK */
  /* END PLATFORM BLOCK */
  /* @media PLATFORM Open & Block */
  /* END @media PLATFORM Open & Block */
}
main .car__container .car-container .platform-open-block .platform-open, main .car__container .car-container .platform-open-block .platform-block {
  display: flex;
  position: absolute;
  top: -4rem;
}
main .car__container .car-container .platform-open-block .platform-open:hover, main .car__container .car-container .platform-open-block .platform-block:hover {
  cursor: pointer;
}
main .car__container .car-container .platform-open-block .platform-block {
  left: 234px;
}
@media screen and (min-width: 540px) {
  main .car__container .car-container .platform-open-block {
    padding: 0 5rem;
    /* PLATFORM OPEN & BLOCK */
    /* END PLATFORM OPEN & BLOCK */
    /* PLATFORM BLOCK */
    /* END PLATFORM BLOCK */
  }
  main .car__container .car-container .platform-open-block .platform-open, main .car__container .car-container .platform-open-block .platform-block {
    display: flex;
    position: absolute;
    top: -6rem;
  }
  main .car__container .car-container .platform-open-block .platform-open img, main .car__container .car-container .platform-open-block .platform-block img {
    width: 50px;
    height: 50px;
  }
  main .car__container .car-container .platform-open-block .platform-open:hover, main .car__container .car-container .platform-open-block .platform-block:hover {
    cursor: pointer;
  }
  main .car__container .car-container .platform-open-block .platform-block {
    left: 410px;
  }
}
main .car__container .show-car {
  height: 10rem;
  /* @media SHOW CAR */
  /* END @media SHOW CAR */
}
@media screen and (min-width: 540px) {
  main .car__container .show-car {
    height: 15rem;
  }
}
main .car__container .car__controls {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  transition: all 0.4s ease;
  /* @media CAR CONTROLS */
  /* END @media CAR CONTROLS */
  /* CAR CONTROLS LI */
  /* END CAR CONTROLS LI */
  /* CONTROL BRIGHTNESS/STATISTICS */
  /* END CONTROL BRIGHTNESS/STATISTICS */
  /* SHOW CONTROL */
  /* SHOW CONTROL */
}
@media screen and (min-width: 540px) {
  main .car__container .car__controls {
    gap: 3rem;
  }
}
main .car__container .car__controls li {
  text-align: center;
  transition: all 0.4s ease;
  /* @media LI */
  /* END @media LI */
}
main .car__container .car__controls li:hover {
  transform: scale(1.1);
  cursor: pointer;
}
main .car__container .car__controls li p {
  font-size: 14px;
}
main .car__container .car__controls li .login-fingerprint {
  display: none;
}
main .car__container .car__controls li .disconnect {
  display: none;
}
main .car__container .car__controls li .show-disconnect {
  display: flex;
}
@media screen and (min-width: 540px) {
  main .car__container .car__controls li p {
    font-size: 1.2rem;
  }
  main .car__container .car__controls li img {
    width: 50px;
  }
}
main .car__container .car__controls .control-brightness, main .car__container .car__controls .control-statistics {
  height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
  z-index: 10;
}
main .car__container .car__controls .show-control {
  height: auto;
}
main .car__container .car-panel-board_container {
  height: 0;
  transition: all 1s cubic-bezier(0, -0.4, 1, -0.37);
  z-index: 111;
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  line-height: 1.1;
  margin-top: 1rem;
  /* @media PETRO/BATTERY/SPEEDOMETER */
  /* END @media PETRO/BATTERY/SPEEDOMETER */
  /* BOARD PETROL & BOARD BATTERY */
  /* END BOARD PETROL & BOARD BATTERY */
  /* BOARD PETROL */
  /* END BOARD PETROL */
  /* BOARD BATTERY */
  /* END BOARD BATTERY */
  /* SPEEDOMETER */
  /* END SPEEDOMETER */
}
@media screen and (min-width: 540px) {
  main .car__container .car-panel-board_container {
    margin-top: 2rem;
    /* PETROL / BATTERY */
    /* END PETROL / BATTERY */
    /* SPEEDOMETER */
    /* END SPEEDOMETER */
  }
  main .car__container .car-panel-board_container .petrol img, main .car__container .car-panel-board_container .battery img {
    width: 127px;
  }
  main .car__container .car-panel-board_container .speedometer img {
    width: 280px;
  }
}
main .car__container .car-panel-board_container .board-petrol, main .car__container .car-panel-board_container .board-battery {
  font-size: 14px;
  position: absolute;
  top: 40px;
}
main .car__container .car-panel-board_container .board-petrol p:first-child, main .car__container .car-panel-board_container .board-battery p:first-child {
  margin-top: 4px;
  /* @media P first-child */
  /* END @media P first-child */
}
@media screen and (min-width: 540px) {
  main .car__container .car-panel-board_container .board-petrol p:first-child, main .car__container .car-panel-board_container .board-battery p:first-child {
    padding-top: 18px;
  }
}
main .car__container .car-panel-board_container .board-petrol {
  left: 24px;
  /* @media BOARD PETROL */
  /* END @media BOARD PETROL */
}
@media screen and (min-width: 540px) {
  main .car__container .car-panel-board_container .board-petrol {
    left: 44px;
  }
}
main .car__container .car-panel-board_container .board-battery {
  right: 16px;
  /* @media BOARD BATTERY */
  /* END @media BOARD BATTERY */
}
@media screen and (min-width: 540px) {
  main .car__container .car-panel-board_container .board-battery {
    right: 40px;
  }
}
main .car__container .car-panel-board_container .speedometer {
  padding-top: 15px;
}
main .car__container .show-car-panel-board {
  height: 10rem;
  /* @media SHOW CAR PANEL BOARD */
  /* END @media SHOW CAR PANEL BOARD */
}
@media screen and (min-width: 540px) {
  main .car__container .show-car-panel-board {
    height: 15rem;
  }
}

/* END MAIN *//*# sourceMappingURL=main.css.map */