/* IMPORTS */ /* IMPORTS */
/* COLORS */
/* END COLORS */
/* UTILS */
/* END UTILS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/* END IMPORTS */
/* ALL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

/* END ALL */
/* BODY */
body {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background: #111111;
}

/* END BODY */
/* LINKS */
a, a:link, a:visited {
  text-decoration: none;
}

/* END LINKS */
/* COLORS */
/* END COLORS */
/* UTILS */
/* END UTILS */
/* END IMPORTS */
/* NAV CONTAINER */
.nav__container {
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  /* @media nav container 768 */
  /* END @media nav container 768 */
  /* @media nav container 1024 */
  /* END @media nav container 1024 */
  /* @media nav container 1368 */
  /* END @media nav container 1368 */
  /* NAV HEADER */
  /* END NAV HEADER */
  /* NAV USER */
  /* END NAV USER */
  /* NAV LINKS */
  /* END NAV LINKS */
  /* NAV SHOW LINKS */
  /* END NAV SHOW LINKS */
}
@media screen and (min-width: 768px) {
  .nav__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 1024px) {
  .nav__container {
    flex-direction: row;
  }
}
@media screen and (min-width: 1368px) {
  .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.nav__container .nav__header {
  /* CONTENT HEADER */
  /* END CONTENT HEADER */
}
.nav__container .nav__header .nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  /* DIV */
  /* END DIV */
  /* h1 */
  /* END h1 */
  /* INPUT */
  /* END INPUT */
  /* @media nav-header 425 */
  /* END @media nav-header 425 */
  /* LOGO-TITLE-SEARCH */
  /* END LOGO-TITLE-SEARCH */
  /* NAV TOGGLE */
  /* END NAV TOGGLE */
  /* @MEDIA NAV-TOGGLE/LOGO-TITLE-SEARCH */
  /* END @MEDIA NAV-TOGGLE/LOGO-TITLE-SEARCH */
  /* DIV/H1/INPUT/LOGO-TITLE-SEARCH */
  /* END DIV/H1/INPUT/LOGO-TITLE-SEARCH */
  /* @media INPUT SEARCH */
  /* END @media INPUT SEARCH */
}
.nav__container .nav__header .nav-header div {
  display: flex;
  align-items: center;
}
.nav__container .nav__header .nav-header h1 {
  font-size: 2em;
  margin-left: 16px;
  transition: all ease 0.4s;
}
.nav__container .nav__header .nav-header h1:hover {
  color: #cff80b;
  cursor: pointer;
}
.nav__container .nav__header .nav-header input {
  display: none;
}
@media screen and (min-width: 425px) {
  .nav__container .nav__header .nav-header h1 {
    font-size: 2em;
  }
}
.nav__container .nav__header .nav-header .logo-title-search i {
  display: none;
  margin-left: 16px;
}
.nav__container .nav__header .nav-header .logo-title-search i:hover {
  cursor: pointer;
}
.nav__container .nav__header .nav-header .nav-toggle {
  font-size: 2rem;
  color: #cff80b;
  background: transparent;
  border-color: transparent;
  transition: all 0.6s ease;
  cursor: pointer;
}
.nav__container .nav__header .nav-header .nav-toggle:hover {
  transform: scale(1.1);
}
@media screen and (min-width: 768px) {
  .nav__container .nav__header .nav-header {
    /* nav-toggle */
    /* end nav-toggle */
    /* input */
    /* end input */
    /* logo-title-search */
    /* end logo-title-search */
  }
  .nav__container .nav__header .nav-header .nav-toggle {
    display: none;
  }
  .nav__container .nav__header .nav-header input {
    display: flex;
    color: #ffffff;
    font-weight: bold;
    background: #1e1e1e;
    border: none;
    border-radius: 30px;
    font-size: 1.4rem;
    padding: 12px 24px 12px 56px;
  }
  .nav__container .nav__header .nav-header .logo-title-search i {
    display: flex;
    position: relative;
    margin-right: 4px;
    left: 7.5%;
  }
}
@media screen and (min-width: 1100px) {
  .nav__container .nav__header .nav-header {
    padding-left: 3rem;
  }
  .nav__container .nav__header .nav-header div .logo {
    height: 55px;
    width: 55px;
  }
  .nav__container .nav__header .nav-header h1 {
    font-size: 2.5rem;
  }
  .nav__container .nav__header .nav-header input {
    padding-left: 60px;
  }
  .nav__container .nav__header .nav-header .logo-title-search i {
    font-size: 20px;
    left: 7%;
  }
}
@media screen and (min-width: 1368px) {
  .nav__container .nav__header .nav-header input {
    padding: 12px 5rem 12px 70px;
  }
}
.nav__container .nav__user {
  display: none;
  /* @media nav user 767 */
  /* end @media nav user 767 */
  /* @media nav user 768 */
  /* END @media nav user 768 */
  /* @media nav user 1024 */
  /* END @media nav user 1024 */
  /* TIME */
  /* END TIME */
  /* USER INFO */
  /* END USER INFO */
}
@media screen and (max-width: 767px) {
  .nav__container .nav__user {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 17px;
  }
}
@media screen and (min-width: 768px) {
  .nav__container .nav__user {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 17px;
  }
}
@media screen and (min-width: 1024px) {
  .nav__container .nav__user {
    gap: 26px;
    margin-bottom: 0;
  }
}
.nav__container .nav__user .nav-time {
  display: flex;
  align-items: center;
  gap: 17px;
  /* IMG HOVER */
  /* END IMG HOVER */
  /* DEGRESS/CLIMATE */
  /* END DEGRESS/CLIMATE */
  /* @media nav time 1024 */
  /* END @media nav time 1024 */
}
.nav__container .nav__user .nav-time img:hover {
  transition: all 0.6s ease;
  transform: scale(1.2);
  cursor: pointer;
}
.nav__container .nav__user .nav-time .nav-degrees-climate {
  text-align: center;
  /* DEGREES */
  /* END DEGREES */
  /* CLIMADE */
  /* END CLIMADE */
}
.nav__container .nav__user .nav-time .nav-degrees-climate .degrees-celsius {
  font-size: 26px;
  font-weight: bold;
  font-size: 24px;
}
.nav__container .nav__user .nav-time .nav-degrees-climate .climate {
  opacity: 0.5;
  font-weight: 500;
}
@media screen and (max-width: 1024px) {
  .nav__container .nav__user .nav-time {
    /* DEGRESS CLIMATE/ CELSIUS */
    /* END DEGRESS CLIMATE/ CELSIUS */
  }
}
@media screen and (min-width: 1024px) {
  .nav__container .nav__user .nav-time {
    gap: 26px;
  }
}
.nav__container .nav__user .nav-user-info {
  display: flex;
  align-items: center;
  gap: 17px;
  /* IMG HOVER */
  /* END IMG HOVER */
  /* USER PHOTO */
  /* END USER PHOTO */
  /* @media nav user info 1180 */
  /* END @media nav user info 1180 */
}
.nav__container .nav__user .nav-user-info img:hover {
  transition: all 0.6s ease;
  transform: scale(1.2);
  cursor: pointer;
}
.nav__container .nav__user .nav-user-info .nav-user-photo img {
  border: 3px solid #1e1e1e;
  border-radius: 40px;
  font-weight: bold;
  padding: 2px;
  /* IMG HOVER */
  /* END IMG HOVER */
}
.nav__container .nav__user .nav-user-info .nav-user-photo img:hover {
  border: 3.5px solid #252525;
  cursor: pointer;
}
@media screen and (min-width: 1180px) {
  .nav__container .nav__user .nav-user-info {
    gap: 26px;
    margin-right: 2rem;
  }
}
.nav__container .links {
  height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
  background: #141414;
  z-index: 10;
  /* LI */
  /* END LI */
  /* @media links 765 */
  /* END @media links */
  /* @media links 425 */
  /* END @media links 425 */
}
.nav__container .links li {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding-left: 16px;
  transition: all 0.3s linear;
  /* link */
  /* end link */
}
.nav__container .links li a {
  color: #ffffff;
  font-size: 1.2rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.8rem 0.8rem;
}
@media screen and (min-width: 765px) {
  .nav__container .links {
    display: none;
  }
}
@media screen and (min-width: 425px) {
  .nav__container .links li {
    padding-left: 2rem;
  }
  .nav__container .links li a {
    padding-left: 1.2rem;
  }
}
.nav__container .show-links {
  height: 17rem;
  margin-bottom: 1rem;
}

/* END NAV CONTAINER *//*# sourceMappingURL=nav.css.map */