@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background: #111111;
}

a, a:link, a:visited {
  text-decoration: none;
}

.nav__container {
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.nav__container .nav__header .nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav__container .nav__header .nav-header div {
  display: flex;
  align-items: center;
}
.nav__container .nav__header .nav-header h1 {
  font-size: 2em;
  margin-left: 16px;
}
.nav__container .nav__header .nav-header input {
  display: none;
}
.nav__container .nav__header .nav-header .logo-dash-search i {
  display: none;
  margin-left: 16px;
}
.nav__container .nav__header .nav-header .nav-toggle {
  font-size: 2rem;
  color: #cff80b;
  background: transparent;
  border-color: transparent;
  transition: all 0.6s ease;
  cursor: pointer;
}
.nav__container .nav__header .nav-header .nav-toggle:hover {
  transform: scale(1.1);
}
@media screen and (min-width: 425px) {
  .nav__container .nav__header .nav-header h1 {
    font-size: 2em;
  }
}
@media screen and (min-width: 768px) {
  .nav__container .nav__header .nav-header .nav-toggle {
    display: none;
  }
  .nav__container .nav__header .nav-header input {
    display: flex;
    color: #ffffff;
    font-weight: bold;
    background: #1e1e1e;
    border: none;
    border-radius: 30px;
    padding: 12px 24px 12px 40px;
  }
  .nav__container .nav__header .nav-header .logo-dash-search i {
    display: flex;
    position: relative;
    margin-right: 4px;
    left: 7.5%;
  }
}
@media screen and (min-width: 1180px) {
  .nav__container .nav__header .nav-header {
    padding-left: 3rem;
    padding-top: 2rem;
  }
  .nav__container .nav__header .nav-header div .logo {
    height: 55px;
    width: 55px;
  }
  .nav__container .nav__header .nav-header h1 {
    font-size: 2.5rem;
  }
  .nav__container .nav__header .nav-header input {
    font-size: 1.4rem;
    padding-left: 60px;
  }
  .nav__container .nav__header .nav-header .logo-dash-search i {
    font-size: 20px;
    left: 7%;
  }
}
.nav__container .nav__user {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__container .nav__user {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 17px;
  }
}
@media screen and (min-width: 1180px) {
  .nav__container .nav__user {
    gap: 26px;
  }
}
.nav__container .nav__user .nav-time {
  display: flex;
  align-items: center;
  gap: 17px;
}
.nav__container .nav__user .nav-time img:hover {
  transition: all 0.6s ease;
  transform: scale(1.2);
  cursor: pointer;
}
.nav__container .nav__user .nav-time .nav-degrees-climate {
  text-align: center;
}
.nav__container .nav__user .nav-time .nav-degrees-climate .degrees-celsius {
  font-size: 26px;
  font-weight: bold;
}
.nav__container .nav__user .nav-time .nav-degrees-climate .climate {
  opacity: 0.5;
  font-weight: 500;
}
@media screen and (max-width: 1024px) {
  .nav__container .nav__user .nav-time .nav-degrees-climate .degrees-celsius {
    font-size: 16.5px;
  }
}
@media screen and (min-width: 1180px) {
  .nav__container .nav__user .nav-time {
    gap: 26px;
  }
}
.nav__container .nav__user .nav-user-info {
  display: flex;
  align-items: center;
  gap: 17px;
}
.nav__container .nav__user .nav-user-info img:hover {
  transition: all 0.6s ease;
  transform: scale(1.2);
  cursor: pointer;
}
.nav__container .nav__user .nav-user-info .nav-user-photo img {
  border: 3px solid #1e1e1e;
  border-radius: 40px;
  font-weight: bold;
  padding: 2px;
}
.nav__container .nav__user .nav-user-info .nav-user-photo img:hover {
  border: 3.5px solid #252525;
  cursor: pointer;
}
@media screen and (min-width: 1180px) {
  .nav__container .nav__user .nav-user-info {
    gap: 26px;
    margin-right: 2rem;
  }
}
.nav__container .links {
  height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
  background: #141414;
  z-index: 10;
}
@media screen and (min-width: 765px) {
  .nav__container .links {
    display: none;
  }
}
.nav__container .links li {
  display: flex;
  padding-left: 10px;
  transition: all 0.3s linear;
}
.nav__container .links li a {
  color: #ffffff;
  font-size: 1.2rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.8rem 0.8rem;
}
@media screen and (min-width: 425px) {
  .nav__container .links li {
    padding-left: 2rem;
  }
  .nav__container .links li a {
    padding-left: 1.2rem;
  }
}
.nav__container .show-links {
  height: 17rem;
}/*# sourceMappingURL=nav.css.map */