/* IMPORTS */
@import './global.scss';
@import './roots.scss';
/* END IMPORTS */

/* NAV CONTAINER */
.nav__container {
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-direction: column;
  }

  @media screen and (min-width: 1024px) {
    flex-direction: row;
    margin: 0.675rem 1rem;
  }


  /* NAV HEADER */
  .nav__header {
    /* CONTENT HEADER */
    .nav-header {
      display: flex;;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;

      div {
        display: flex;
        align-items: center;
      }

      h1 {
        font-size: 2em;
        margin-left: 16px;
      }

      input {
        display: none;
      }

      @media screen and (min-width: 425px) {
        h1 {
          font-size: 2em;
        }
      }

      /* LOGO-TITLE-SEARCH */
      .logo-title-search {
        i {
          display: none;
          margin-left: 16px;
        }
      }
      /* END LOGO-TITLE-SEARCH */

      /* NAV TOGGLE */
      .nav-toggle {
        font-size: 2rem;
        color: $yellow-Green;
        background: transparent;
        border-color: transparent;
        transition: all 0.6s ease;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }
      }
      /* END NAV TOGGLE */

      /* @MEDIA NAV-TOGGLE/LOGO-TITLE-SEARCH */
      @media screen and (min-width: 768px) {
        /* nav-toggle */
        .nav-toggle {
          display: none;
        }
        /* end nav-toggle */

        /* input */
        input {
          display: flex;
          color: $white;
          font-weight: bold;
          background: $black-Gray;
          border: none;
          border-radius: 30px;
          font-size: 1.4rem;

          padding: 12px 24px 12px 56px;
        }
        /* end input */

        /* logo-title-search */
        .logo-title-search {
          i {
            display: flex;
            position: relative;
            margin-right: 4px;
            left: 7.5%;
          }
        }
        /* end logo-title-search */
      }
      /* END @MEDIA NAV-TOGGLE/LOGO-TITLE-SEARCH */

      /* DIV/H1/INPUT/LOGO-TITLE-SEARCH */
      @media screen and (min-width: 1100px) {
        div {
          .logo {
            height: 55px;
            width: 55px;
          }
        }

        padding-left: 3rem;

        h1 {
          font-size: 2.5rem;
        }

        input {
          padding-left: 60px;
        }

        .logo-title-search {
          i {
            font-size: 20px;
            left: 7%;
          }
        }
      }
      /* END DIV/H1/INPUT/LOGO-TITLE-SEARCH */
    }
    /* END CONTENT HEADER */
  }
  /* END NAV HEADER */

  /* NAV USER */
  .nav__user {
    display: none;

    @media screen and (max-width: 767px) {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
      gap: $gap-nav-user;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      gap: $gap-nav-user;
    }

    @media screen and (min-width: 1024px) {
      gap: $gap-nav-user2;
      margin-bottom: 0;
    }

    /* TIME */
    .nav-time {
      display: flex;
      align-items: center;
      gap: $gap-nav-user;

      img:hover {
        transition: all 0.6s ease;
        transform: scale(1.2);
        cursor: pointer;
      }

      /* DEGRESS/CLIMATE */
      .nav-degrees-climate {
        text-align: center;

        /* DEGREES */
        .degrees-celsius {
          font-size: $gap-nav-user2;
          font-weight: bold;
          font-size: 24px;
        }
        /* END DEGREES */

        /* CLIMADE */
        .climate {
          opacity: 0.5;
          font-weight: 500;
        }
        /* END CLIMADE */
      }
      /* END DEGRESS/CLIMATE */

      @media screen and (max-width: 1024px) {
        /* DEGRESS CLIMATE/ CELSIUS */

        /* END DEGRESS CLIMATE/ CELSIUS */
      }

      @media screen and (min-width: 1024px) {
        gap: $gap-nav-user2;
      }
    }
    /* END TIME */

    /* USER INFO */
    .nav-user-info {
      display: flex;
      align-items: center;
      gap: $gap-nav-user;

      img:hover {
        transition: all 0.6s ease;
        transform: scale(1.2);
        cursor: pointer;
      }

      /* USER PHOTO */
      .nav-user-photo img {
        border: 3px solid $black-Gray;
        border-radius: 40px;
        font-weight: bold;
        padding: 2px;

        &:hover {
          border: 3.5px solid $black-Gray2;
          cursor: pointer;
        }
      }
      /* END USER PHOTO */

      @media screen and (min-width: 1180px) {
        gap: $gap-nav-user2;
        margin-right: 2rem;
      }
    }
    /* END USER INFO */
  }
  /* END NAV USER */

  /* NAV LINKS */
  .links {
    height: 0;
    overflow: hidden;
    transition: all 0.4s ease;
    background: $black-Gray-alter;
    z-index: 10;

    /* LI */
    li {
      display: flex;
      padding-left: 10px;
      transition: all 0.3s linear;

      /* link */
      a {
        color: $white;
        font-size: 1.2rem;
        text-transform: capitalize;
        letter-spacing: 0.1rem;
        display: block;
        padding: 0.8rem 0.8rem;
      }
      /* end link */
    }
    /* END LI */

    @media screen and (min-width: 765px) {
      display: none;
    }

    @media screen and (min-width: 425px) {
      li {
        padding-left: 2rem;

        a {
          padding-left: 1.2rem;
        }
      }
    }
  }
  /* END NAV LINKS */

  /* NAV SHOW LINKS */
  .show-links {
    height: 17rem;
    margin-bottom: 1rem;
  }
  /* END NAV SHOW LINKS */
}
/* END NAV CONTAINER */
