$white: #ffffff;
$yellow-Green: #cff80b;
$magenta: #ff2257;
$black: #111111;
$blue-Green: #00ffa4;
$black-Gray: #1e1e1e;
$black-Gray-alter: #141414;
$black-Gray2: #252525;
$black-Gray3: #2c2c2c;

$gap-nav-user: 17px;
$gap-nav-user2: 26px;

